/****************************Main CSS*/

body {
	max-width: 1200px;
	margin: 0 auto;
}

.padding-square {
	padding: 30px;
}

/****************************Typography*/

h1, h2, h3, h4, p {
	font-family: 'Roboto', sans-serif;
}

/****************************Navbar*/

.navbar-default {
	background-color: transparent;
	border-style: none;
}

.navbar {
	margin-bottom: 0;
}

/**************Logo Input and size changes*/

.navbar-brand {
	padding-top: 5px;
}

.navbar-brand>img {
	height: 40px;
	width: auto;
}

/**************Burger menu changes*/

.navbar-toggle {
	background-color: none;
	margin-right: 0;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active {
	background-color: transparent;
}

.navbar-default .navbar-toggle .top-bar {
	background: rgba(56,39,113,1);
}

.navbar-default .navbar-toggle .middle-bar {
	background: linear-gradient(to bottom, rgba(56,39,113,1), rgba(67,148,150,1));
}

.navbar-default .navbar-toggle .bottom-bar {
	background: rgba(67,148,150,1);
}

.navbar-toggle .icon-bar {
	width: 30px;
	height: 3px;
}

/**************Burger menu animation*/
/*borrowed from https://julienmelissas.com/animated-x-icon-for-the-bootstrap-navbar-toggle/*/

.navbar-toggle:hover .icon-bar,
.navbar-toggle:focus .icon-bar,
.navbar-toggle:active .icon-bar {
  	transition: all 0.2s ease-in-out;
}

.navbar-toggle:hover .top-bar,
.navbar-toggle:focus .top-bar,
.navbar-toggle:active .top-bar {
  	transform: rotate(38deg);
  	-ms-transform: rotate(38deg);
  	-webkit-transform: rotate(38deg);
  	transform-origin: 10% 10%;
  	-ms-transform-origin: 10% 10%;
  	-webkit-transform-origin: 10% 10%;
}

.navbar-toggle:hover .middle-bar,
.navbar-toggle:focus .middle-bar,
.navbar-toggle:active .middle-bar {
 	opacity: 0;
}

.navbar-toggle:hover .bottom-bar,
.navbar-toggle:focus .bottom-bar,
.navbar-toggle:active .bottom-bar {
  	transform: rotate(-38deg);
  	-ms-transform: rotate(-38deg);
  	-webkit-transform: rotate(-38deg);
  	transform-origin: 10% 90%;
  	-ms-transform-origin: 10% 90%;
  	-webkit-transform-origin: 10% 90%;
}

.navbar-toggle .collapsed .top-bar {
  	transform: rotate(0);
  	-ms-transform: rotate(0);
  	-webkit-transform: rotate(0);
}

.navbar-toggle .collapsed .middle-bar {
  	opacity: 1;
}

.navbar-toggle .collapsed .bottom-bar {
  	transform: rotate(0);
  	-ms-transform: rotate(0);
  	-webkit-transform: rotate(0);
}

/* Devices > 768px */

@media (min-width: 768px) {
	.navbar-brand {
		float: none;
		display: flex;
		justify-content: center;
	}
	.navbar-nav {
		float: none;
		display: flex;
		justify-content: center;
	}
}

/**************Menu List items*/

.navbar-collapse {
	border-style: none;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover  {
	background: none;
	text-decoration: line-through;
    text-decoration-color: red;
}

.navbar-default .navbar-nav>li>a {
	color: rgba(56,39,113,1);
	transition: all .2s ease-in-out;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
	background: none;
	opacity: 0.5;
	transform: scale(1.1);
}

/****************************Section Video*/

.top-home-content {
	padding: 0;
	min-height: 624px;
}

.video-full {
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.video-full video {
	min-height: 600px;
	width: auto;
	border-style: none;
	object-fit: cover;
}

.embed-responsive {
	overflow: visible;
}

.text-welcome {
	height: 674px;
	display: flex;
	justify-content: center;
	position: absolute;
	text-align: center;
	width: 100%;
	max-width: 1200px;
	top: 50px;
}

.text-welcome>h1 {
	font-family: 'Abril Fatface', cursive;
	font-size: 50px;
	color: #ffffff;
	margin: 0 auto;
	align-self: center;
}


/****************************Section Services*/

.img-services {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.img-services img {
	height: 100px;
	width: auto;
}

#aerial-logo {
	height: 130px;
	width: auto;
}

/****************************Footer*/

.img-btm img {
	width: 100%;
	height: auto;
	padding-top: 30px;
}

.button-btm {
	padding: 50px 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

.btn-default {
	background: linear-gradient(to bottom, rgba(56,39,113,1), rgba(67,148,150,1));
	color: #ffffff;
	box-shadow: 8px 10px 10px rgba(56,39,113,0.2);
}

.btn-default:hover {
	background: linear-gradient(to bottom, rgba(56,39,113,0.8), rgba(67,148,150,0.8));
	color: #ffffff;
}

i {
	font-size: 30px;
	color: rgba(67,148,150,1);
	padding-top: 30px;
}

.site-by {
	color: inherit;
	line-height: 30px;
	padding: 30px 0;
}

.site-by:hover,
.site-by:active,
.site-by:focus {
	text-decoration: line-through;
	text-decoration-color: red;
}